/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/test*
/uploads
/public*
/database
/config
/bootstrap
/cgi-bin
/app/braintree
/app/Console
/app/Exceptions
/app/Providers
/app/stripe
/app/ups
/app/vendor
/resources/assets
/resources/lang
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.zip
*.sql
.htaccess
.*
!.gitignore
artisan
index.php
webpack.mix.js
composer*
package.json
phpunit.xml
robots.txt
readme.md
!/public/css/custom.css